@use "./../../init" as *;

@use "./solution_banner";
@use "./solution_content";

.l-solution {
    &__banner {
        margin-bottom: 10rem;
    }
}

@include mq-down(sm) {
    .l-container--flush-mobile {
        padding-right: 0;
        padding-left: 0;
    }
}
