@use "./../../init" as *;

@use "./solution_cta";

.c-solution-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    &__cta {
        width: 100%;
    }

    &__products {
        flex: 1;
        min-width: 0;
    }

    @media (min-width: 1360px) {
        flex-direction: row;
        gap: 0 var(--space-md);

        &__cta {
            width: 64rem;
            flex-shrink: 0;
        }

        &__products {
            width: 100%;
        }
    }
}

@media (min-width: 1360px) {
    .l-solution__content {
        .l-container.is-shorter {
            max-width: 136rem;
        }
    }
}
