@use "./../../init" as *;

.c-solution-cta {
    --cta-min-height: 54rem;
    --cta-max-height: 54rem;
    --offer-card-padding: 0 var(--space-md) var(--space-md);
    --offer-card-content-max-width: 42rem;
    --offer-card-image-position: 60%;

    width: 100%;
    height: 100%;
    min-height: var(--cta-min-height);
    max-height: var(--cta-max-height);

    &__description {
        strong {
            font-weight: 800;
        }
    }

    @include mq-up(sm) {
        --offer-card-title-size: 3.5rem;
        --offer-card-title-line-height: 1.2;
        --offer-card-description-size: 1.6rem;
        --offer-card-description-line-height: 1.6;
        --offer-card-padding: var(--space-lg) var(--space-md) var(--space-md);
        --offer-card-radius: var(--r-md);
    }

    @include mq-up(md) {
        --offer-card-title-size: 3.5rem;
        --offer-card-title-line-height: 1.2;
        --offer-card-padding: var(--space-xl) var(--space-xl);
    }

    @include mq-up(lg) {
        max-width: 64rem;
        margin-inline: auto;
    }

    @media (min-width: 1360px) {
        --offer-card-description-max-width: 45rem;

        width: 64rem;
        max-width: none;
        margin-inline: 0;
    }
}
