@use "./../../init" as *;

.c-solution-cta {
    width: 100%;
    height: 54rem;
    border-radius: var(--r-md);

    &__image {
        background-color: var(--c-bg);
        background-position: center;
        background-size: cover;
        border-radius: var(--r-md);
    }

    &__overlay {
        background: linear-gradient(13.06deg, rgb(0 0 0 / 64%) 18.62%, rgb(0 0 0 / 0%) 100%);
        border-radius: var(--r-md);
    }

    &__content {
        gap: var(--space-md);
        height: 100%;
        padding: var(--space-xl);

        &__title {
            margin: 0;
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.2;
        }

        &__description {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.6;

            strong {
                font-weight: 800;
            }
        }

        &__button {
            padding: 1.6rem 2rem;

            .sc-text {
                font-size: 1.6rem;
            }
        }
    }

    @include mq-up(lg) {
        width: 64rem;

        &__overlay {
            background: linear-gradient(90deg, rgb(0 0 0 / 64%) 18.62%, rgb(0 0 0 / 0%) 100%);
        }
    }
}
